{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<div class="card-deck justify-content-center" style="margin: 100px 100px">

  <div class="card" style="max-width: 500px;">
    {% if contato.foto %}
    <div class="row marcador align-items-center">
      <div class="col mx-auto text-center">
          <img class="card-img-top" src="{{ contato.foto.url }}" alt="{{ contato.nome }}"
            style="width: 300px;margin: 10px">
      </div>
    </div>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ contato.nome }} {{ contato.sobrenome }}</h5>
      <p class="card-text">{{ contato.descricao }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Número Tel : </b>{{ contato.telefone }}</li>
      <li class="list-group-item"><b>E-mail : </b>{{ contato.email }}</li>
      <li class="list-group-item"><b>Categoria : </b> {{ contato.categoria_ctt }}</li>
    </ul>
  </div>
</div>
{% endblock %}