{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<main>
  <div class="card-deck justify-content-center" style="margin-top:100px;margin-bottom:100px;">
    {% for contato in contato %}
    <div class="card" style="max-width:350px;">

      {% if contato.foto %}
      <div class="row marcador align-items-center">
        <div class="col mx-auto text-center">
          <a href="#">
            <img class="card-img-top" src="{{ contato.foto.url }}" alt="{{ contato.nome }}"
              style="width: 40%;margin: 10px">
          </a>
        </div>
      </div>
      {% endif %}

      <div class="card-body">
        <h5 class="card-title text-center">
          <a href="#">{{ contato.nome }} {{ contato.sobrenome }}</a>
        </h5>
        <p class="card-text">{{ contato.telefone }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Incluido em : {{ contato.data_criacao }}</small>
      </div>
    </div>
    {% endfor %}
  </div>

  {% include 'parciais/_pagination.html' %}
</main>


{% endblock %}