{% extends 'base.html' %}

{% block conteudo %}
    <h1 class="mt-5">Agenda</h1>
      <br><br>
        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Telefone</th>
            </tr>
          </thead>
          <tbody>
            {% for contato in contatos %}
                {% if contato.mostrar %}
                <tr>
                  <td>{{ contato.nome }}</td>
                  <td>{{ contato.sobrenome }}</td>
                  <td>{{ contato.telefone }}</td>
                </tr>
                {% endif %}
            {% endfor %}
          </tbody>
        </table>

    
{% endblock %}