{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!--_head.html-->
    {% include 'parciais/_head.html' %}
    <!--/_head.html-->
</head>

<body>

    <!--_nav.html-->
    {% include 'parciais/_nav.html' %}
    <!--/_nav.html-->

    <!-- CONTENT -->
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% block conteudo %} {% endblock %}
            </div>
        </div>
    </div>
    <!-- CONTENT -->

    <!--_footer.html-->
    {% include 'parciais/_footer.html' %}
    <!--/_footer.html-->

    <!--<script src="{% static 'js/script.js' %}" async defer></script>-->
</body>

</html>